# OS系
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# 原本・作業ファイル
*.zip
*.7z
*.bak
*.tmp

# デフォルト拒否
*

# 許可する拡張子
!*.md
!*.pdf
!*.txt
!*.png
!*.jpg
!*.jpeg
!*.json

# ディレクトリは許可
!*/

# Git管理
!.gitignore
